* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
  
.perfil-page {
  display: flex;
  min-height: 100vh;
  background: #f9f9ff;
}
  
/* SIDEBAR */
.perfil-sidebar {
  width: 120px;
  height: 97vh;
  background: #695CAC;
  border-radius: 35px;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 1%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
  
/* CONTEÚDO */
.perfil-content {
  flex: 1;
  padding:30px;
  margin-left: 140px; 
}
  
/* HEADER */
.perfil-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
  
.perfil-header h2 {
  margin: 0;
  color: #333;
}
  
  .perfil-header .sub {
  font-size: 14px;
  color: #8b87c9;
}

.student-tag {
  font-weight: bold;
  color: #6c63ff;
}

/* CARD */
.perfil-card {
  background: white;
  border: 2px solid #cfcdf8;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding-left: 110px;
  padding-right: 110px;
}

/* FOTO */
.foto-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-box {
  width: 260px;
  height: 260px;
  background: #92b36b;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 22px;
}

.upload-btn {
  margin-top: 20px;
  padding: 12px 18px;
  border-radius: 10px;
  border: 2px solid #d7d5ff;
  background: #f3f2ff;
  color: #7b78d8;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
}

/* FORM */
.form-section {
  width: 100%;
  max-width: 450px;
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: flex-end;
  margin-right: 40px;
}

.input-group{
  display:flex;
  flex-direction:column;
  width:100%;
  gap:6px;
}

.input-group label {
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 500px;
  padding: 22px;
  color: black;
  border-radius: 14px;
  border: 1px solid #695CAC;
  background-color: #ffff;
  outline: none;
  padding: 20px;
  font-size: 16px;
}

/* BOTÃO SALVAR */
.salvar-btn {
  width: 100%;
  max-width: 429px;
  margin-top: 20px;
  padding: 16px;
  background: #695CAC;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}
.student-tag span{
  color: #f2b705;
  font-size: 25px;
}
.header-left{
  display:flex;
  align-items:center;
  gap:12px;
}

.back-icon{
font-size:20px;
cursor:pointer;
color:#333;
transition:0.2s;
}

.back-icon:hover{
color:#6a0dad;
}

.perfil-img{
width:100%;
height:100%;
object-fit:cover;
border-radius:10px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.popup button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #6c3cff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}.toast-sucesso {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #22c55e;
  color: white;
  padding: 14px 22px;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  z-index: 9999;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.atualizar-senha{
  background-color: #695CAC;
}

.sidebar-perfil{
  margin-top: 15%;
}
.sidebar-voltar {
  width: 55px;
  height: 55px;
  background: #7ED957;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
@media (max-width: 900px) {

  .perfil-sidebar{
    width: 80px;
  }

  .perfil-content{
    margin-left: 100px;
    padding:20px;
  }

  .perfil-card{
    flex-direction: column;
    align-items: center;
    gap:40px;
  }

  .foto-box{
    width:200px;
    height:200px;
  }

}
@media (max-width: 600px){

  .perfil-sidebar{
    width:65px;
  }

  .perfil-content{
    margin-left:80px;
    padding:15px;
  }

  .perfil-header{
    flex-direction:column;
    align-items:flex-start;
    gap:5px;
  }

  .foto-box{
    width:180px;
    height:180px;
  }

}
.mobile-back{
  display:none;
  font-size:22px;
  cursor:pointer;
}
@media (max-width:650px){

  .perfil-header{
    justify-content:flex-start;
    gap:10px;
  }

  .header-left{
    display:none;
  }

  .student-tag{
    display:none;
  }

  .mobile-back{
    display:block;
  }

}
.mobile-back-button{
  display:none;
  font-size:24px;
  cursor:pointer;
  margin-bottom:20px;
}
@media (max-width:650px){

  .mobile-back-button{
    display:block;
  }

  .perfil-header{
    display:none;
  }

}
@media (max-width:650px){

  .perfil-header{
    display:none;
  }

  .mobile-back-button{
    display:block;
  }

}
@media (max-width:650px){

  .perfil-sidebar{
    display:none;
  }

  .perfil-content{
    margin-left:0;
  }

}
.perfil-info-card{
  background:#F8F7FF;
  border:2px solid #695CAC;
  border-radius:20px;
  padding:35px;
  margin-left: 40px;
  width:100%;
  max-width:520px;

  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:16px;
}
.avatar-professor{
  width:80px;
  height:80px;
  border-radius:50%;
  background:#695CAC;
  color:white;
  font-size:32px;
  font-weight:600;
  display:flex;
  align-items:center;
  justify-content:center;
}

.prof-nome{
  color:#2E2948;
  font-size:18px;
}

.prof-email{
  font-size:13px;
  color:#7B7794;
}

.prof-info-extra{
  margin-top:8px;
  display:grid;
  grid-template-columns: repeat(3, auto);
  justify-content:center;
  gap:20px;
}

.prof-info-extra span{
  font-size:12px;
  color:#2E2948;
  text-align:center;
}

.status-ativo{
  color:#22c55e;
  font-weight:600;
}
.strong-tipo{
  color:#2E2948;
}
.toast-erro{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ef4444;
  color: white;
  padding: 14px 22px;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  animation: slideIn 0.3s ease;
}

@keyframes slideIn{
  from{
    transform: translateX(50px);
    opacity:0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}
@media (max-width: 900px){
  .perfil-card{
    padding-left: 40px;
    padding-right: 40px;
  }
  .perfil-sidebar{
    display:none;
  }

  .perfil-content{
    margin-left:0;
  }
}
.atualizar-senha{
  margin-top:12px;
  padding:20px;
  font-size: 16px;
  border:none;
  border-radius:14px;
  background:#695CAC;
  color:white;
  font-weight:600;
  cursor:pointer;
  width:100%;
}
.perfil-divider{
  width:100%;
  height:1px;
  background:#ddd;
  margin:10px 0;
}
.strong-tipo-observacao{
  color: #f59e0b;
}
@media (max-width:1115px){

  .perfil-card{
    flex-direction: column;
    align-items: center;
  }

  .perfil-info-card{
    max-width:100%;
    margin-left:0;
  }

  .prof-info-extra{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    width:100%;
    margin-top:15px;
  }

}